<form>

<head>
    <title>Reading List</title>
</head>

<body>
    
  <h3>Adicionar:</h3>
  <form method="POST">
    <label for="title">Solicitante:</label> <input type="text"
    name="solicitante" size="50"></input><br /> 
    <label for="title">Local:</label> <input type="text" name="local" size="50"></input><br/>
    <label for="title">Carga Horária:</label> <input type="text" name="cargaHoraria" size="50"></input><br/>

    <br /> <input type="submit"></input>
  </form>
</body>
</form>