<!DOCTYPE html>
<html ng-app="solicitacoes">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema de Solicitação de ACGs</title>
    
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
   <script src="js/solicitacoes.module.js"></script>
   <script src="js/solicitacoes.controller.js"></script>
    <link rel="stylesheet" href="cdn/bootstrap-4.3.1/css/bootstrap.css">
    <!-- App Styles -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="container" ng-controller="SolicitacoesController">
      <h1>{{ titulo }}</h1>

    </div>
    <!-- Navigation -->

    <nav class="navbar navbar-inverse navbar-dark bg-green">
      <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Início
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Header -->
    <header class="bg-grey-default py-3">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-lg-6">
            
          </div>
          <div class="col-lg-6">
            <h2 class="mt-5 mb-2">Programa de Integração de ACG'S</h2>
          </div>
        </div>
      </div>
    </header>
   
    
    <!-- Page Content -->
    <div class="container mb-5">
      <div class="row">
        <nav class="mt-5" aria-label="breadcrumb">
        </nav>
        <form id="form" name="formulario" ng-submit="adicionarSolicitacao" novalidate>
            <div class="form-group">
              <label for="solicitante">Solicitante:</label>
              <input name="solicitante" type="text" class="form-control" id="solicitante" placeholder="Solicitante" ng-model="novaSolicitacao.solicitante" required>
            </div>
            <div ng-if="(formulario.solicitante.$touched || formulario.$submitted) && formulario.solicitante.$invalid">
              <span ng-if="formulario.solicitante.$error.required"> O campo Solicitante é obrigatorio </span>
              
            </div>
            <div class="form-group">
              <label for="validationMatricula">Matrícula:</label>
              <input type="text" name="matricula" class="form-control" id="matricula" placeholder="Matrícula" ng-model="novaSolicitacao.matricula" required>
            </div>
            <div ng-if="(formulario.matricula.$touched || formulario.$submitted)  && formulario.matricula.$invalid">
              <span ng-if="formulario.matricula.$error.required"> O campo Matrícula é obrigatorio </span>
            </div>
            
            <div class="form-group">
              <label for="validationGrupo">Grupo:</label>
              <select id="grupo" class="custom-select" name ="grupo" ng-model="novaSolicitacao.grupo" required>
                <option selected>Selecionar grupo</option>
              </select>
            </div>
            <div ng-if="(formulario.grupo.$touched || formulario.$submitted) && formulario.grupo.$invalid">
              <span ng-if="formulario.grupo.$error.required"> Selecione um Grupo </span>
            </div>
            <div class="form-group">
              <label for="validationAtividade">Atividade:</label>
              <select id="atividade" name="atividade" class="custom-select" required ng-model="novaSolicitacao.atividade">
                <option selected>Selecionar atividade</option>
              </select>
            </div>
            <div ng-if="(formulario.atividade.$touched || formulario.$submitted)  && formulario.atividade.$invalid">
              <span ng-if="formulario.atividade.$error.required"> Selecione uma Atividade </span>
            </div>
            <div class="form-group">
              <label for="validationCH">Carga Horária Solicitada:</label>
              <input type="text" name="cargaHorariaSolicitada"class="form-control" id="cargaHorariaSolicitada" placeholder="Carga horária" ng-model="novaSolicitacao.cargaHorariaSolicitada" required>
            </div>
            <div ng-if="(formulario.cargaHorariaSolicitada.$touched || formulario.$submitted) && formulario.cargaHorariaSolicitada.$invalid">
              <span ng-if="formulario.cargaHorariaSolicitada.$error.required"> Este campo é obrigatorio </span>
            </div>
              <div class="form-group">
              <label for="validationCH">Carga Horária Aproveitada:</label>
              <input type="text" name="cargaHorariaAproveitada"class="form-control" id="cargaHorariaAproveitada" placeholder="Carga aproveitada" ng-model="novaSolicitacao.cargaHorariaAproveitada" required>
            </div>
            <div ng-if="(formulario.cargaHorariaAproveitada.$touched || formulario.$submitted)  && formulario.cargaHorariaAproveitada.$invalid">
              <span ng-if="formulario.cargaHorariaAproveitada.$error.required"> Este campo é obrigatorio </span>
            </div>
              <div class="upload-container">
              
              <div class="upload-content">
                <!-- <div class="single-upload">
                                <h3>Upload Single File</h3>
                                <form id="singleUploadForm" name="singleUploadForm">
                                    <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />
                                    <button type="submit" class="primary submit-btn">Submit</button>
                                </form>
                                <div class="upload-response">
                                    <div id="singleFileUploadError"></div>
                                    <div id="singleFileUploadSuccess"></div>
                                </div>
                            </div> -->
                <div class="multiple-upload">
                  <label for="validationCH">Documentos Comprobatórios:</label>
                    <input id="multipleFileUploadInput" type="file" name="files" class="file-input" multiple ng-model="novaSolicitacao.documentosComprobatorios" required />
                    
                  <div class="upload-response">
                    <div id="multipleFileUploadError"></div>
                    <div id="multipleFileUploadSuccess"></div>
                  </div>
                  <div ng-if="(formulario.files.$touched || formulario.$submitted)  && formulario.files.$invalid">
                    <span ng-if="formulario.files.$error.required"> Este campo é obrigatorio </span>
                  </div>
                </div>
              </div>
            </div>
            <script src="/js/main.js"></script>
          </div>
          <div class="row justify-content-end">
            
          </div>
          <div class="row justify-content-end" ng-controller="SolicitacoesController">
            <button type="button" class="btn btn-danger mr-3" ng-click="enviarForm">Cancelar</button>
            <button class="btn btn-primary" type="submit">Salvar  </button>
          </div>
        </form>
      </div>
      
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Sistema PIA</p>
      </div>
      <!-- /.container -->
    </footer>
    
    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="cdn/axios/axios.min.js"></script>
    <script src="cdn/jquery/jquery-3.4.1.min.js"></script>
    <script src="cdn/mask/mask.js"></script>
    <script src="js/main.js"></script>
  </body>
  </html>