/* Cor verde - #009045 - Unipampa */
/* Cor cinza - #f4f4f4 - Unipampa */
/* Cor bread - rgb(216, 216, 216) - Unipampa */

.body {
    margin: 0%;
    width: 100%;
    height: 100%
}

.bg-green {
    background: #009045;   
}

.bg-dark {
    background-color: #000000 !important;   
}

.bg-grey-default {
    background: #f4f4f4;   
}

.btn-primary{
    background: #009045;
    border-color: #009045
}

.btn-primary:hover{
    background: #004b24;
    border-color: #009045
}

.bg-color-test{
    background: #ff0000
}

.breadcrumb {
    background: rgb(216, 216, 216);
    border-radius: 0%
}

.breadcrumb >.active {
    color: black;
 }